doctype html
html
  head
    title Menu
  body
    h1 Menu
    ul
      li
        a(href="/song/MOOD") MOOD
      li
        a(href="/song/monotono") monotono
      li
        a(href="/song/quando_ti_dico") quando ti dico