doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='styles/styles.css')
    title menu
  body
    h1.homepage MENU
    ul
      li
        a(href="/song/MOOD") MOOD
      li
        a(href="/song/monotono") monotono
      li
        a(href="/song/noi") noi