<div class="container">
  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <button  routerLink="/animals">Animals</button>
      <button  routerLink="/fruits">Fruits</button>
      <button class="nav-item nav-link" routerLink="/generic/animals" routerLinkActive="active-menu"> Animals (generic)</button>
      <button class="nav-item nav-link" routerLink="/generic/fruits" routerLinkActive="active-menu"> Fruits (generic)</button>


    
    </ul>
  </div>
    <router-outlet></router-outlet>
    <footer class="bg-light text-center">Hello, I'm a footer 😁</footer>
</div>
